useDynLib("AMIAS")
importFrom(utils,head,tail,packageDescription)
importFrom("graphics", "plot.default", "lines.default", "abline", "lines", "matplot", "par", "points", "text")
importFrom("stats","model.matrix", "dist", "rnorm")
importFrom("grDevices", "rainbow")

import("zoo")
import("limSolve")
import("Matrix")

S3method(plot, amias)
S3method(plot, samias)

S3method(print, amias)
S3method(print, samias)


S3method(coef, amias)
S3method(coef, samias)

export(amias, samias, SimuBlocks, SimuWave, SimuDoppler,my.rollmean, genDtf1d, genDtf2d, genD2d)
